<div class='thumbnail'>
        <div class='row'>
          <div class='col-md-4 text-right'>
            <%= gravatar_tag @user.email, size: 90 %>
          </div>
          <div class='col-md-8'>
            <br><br>
            <h4><%= @user.name %><br>
            <small>@<%= @user.username %></small></h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <p class='text-center'>Posts</p>
            <p class='text-center'><%= @user.posts.count %></p>
          </div>
          <div class='col-md-4'>
            <p class='text-center'>Followers</p>
            <p class='text-center'><%= @user.followers.count %></p>
          </div>
          <div class='col-md-4'>
            <p class='text-center'>Following</p>
            <p class='text-center'><%= @user.following.count %></p>
          </div>
        </div>
      </div>