<% provide(:title, @title) %>
<div class='container'>
<div class="row">
  <aside class="col-md-4">
    <div class='thumbnail'>
        <%= render 'shared/user' %>
        <%= render 'shared/stats' %>
      </div>
    <section>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_tag(user, size: 30), user_path(user.username) %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="row">
          <div class='col-md-2 text-right'>
            <%= link_to gravatar_tag(user, size: 70), user_path(user.username) %>
          </div>
            
          <div class='col-md-10'>
            <h4><%= user.name %><small> | <%= user.username %> | <%= link_to "view profile", user_path(user.username) %></small></h4>
            <%= user.posts.count %> Posts | <%= user.following.count %> Following | <%= user.followers.count %> Followers
          </div>
        </div>
        <br>
      <% end %>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
  </div>