<div class='container'>
  <% if user_signed_in? %>
    <div class='row'>
      <aside class='col-md-4'>
        <div class='thumbnail'>
          <%= render 'shared/user' %>
          <%= render 'shared/stats' %>
        </div>
        <%= render 'posts/post_form' %>
      </aside>
      <div class='col-md-8'>
        <h3>Post Feed</h3>
        <%= render 'posts/feed' %>
      </div>
    </div>
  <% else %>
  <div class='jumbotron text-center'>
    <h1>Tim's Twitter Clone</h1>
    <p>This is the home page of my Twitter clone</p>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
  <% end %>
</div>
